# Это файл .gitignore для игнорирования файлов и каталогов.
# Каждая строчка — это шаблон, по которому происходит игнорирование,
# либо в строчке могут быть написаны комментарии.
# Действие игнорирования может распространяться на текущий каталог и его подкаталоги.
# Файл нужно создать самостоятельно, обычно его добавляют в каталог проекта.


# Коллекция полезных .gitignore от GitHub: https://github.com/github/gitignore


# Игнорируем файлы с определенным именем в текущем каталоге и его подкаталогах
access.log

# Игнорируем файлы с определенным расширением в текущем каталоге и его подкаталогах
*.swp

# Игнорируем каталог в текущем каталоге и его подкаталогах
node_modules/

# Игнорируем каталог, начинающийся с прописной или строчной буквы, в текущем каталоге и его подкаталогах
[Rr]elease/

# Игнорируем каталог в текущем каталоге
/coverage/

# Игнорируем все .txt файлы в каталоге doc/ на всех уровнях вложенности
doc/**/*.txt

# Игнорируем все файлы на всех уровнях вложенности внутри каталога tmp/, расположенного в текущем каталоге
/tmp/**

# Игнорируем все файлы в каталоге logs, но не во вложенных каталогах
# Например, /logs/something/access.log не игнорируется
/logs/*

# Исключение из предыдущего правила
!/logs/.gitkeep

# Основные правила для macOS, но лучше использовать macOS.gitignore из коллекции
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
Icon[]
._*

# Основные правила для VS Code с возможностью пошарить часть настроек с командой
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Полное игнорирование файлов конфигурации IDE от JetBrains
.idea


# Далее можно добавлять другие правила
secrets.txt